@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #EEF3F5;
	font-family: 'Open Sans', sans-serif;
}

#root {
	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
.App{
	display: flex;
	flex-direction: column;
}
.App__main{
	background-color: #fff;
	box-shadow:0 0 6px #b8b8b8;
	font-size: 16px;
	padding: 10%;
	margin: 5vh 0;
	width: 90vw;
	border-radius: 1vw;
}